.container{
    background-image: url("Assest/login-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat; 
}
.formname{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    font-weight: bold;
}

.startingd{
    border: white 2px solid;
    border-radius: 20px;
    width: 270px;
}
.formstart{
    margin-left: 25px;

}
.formstart input{
    border-radius: 15px;
    border: solid 1px white;
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    
}
.inner-form{
    position: relative;
}
.innerinput-img{
    position: absolute;
    right:30px;
    top:19px;
}

