.side-menu {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    
  }
  
  .side-menu.open {
    left: 0;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .side-menu li {
    padding: 15px;
    border-bottom: 1px solid #555;
    cursor: pointer;
  }
  
  .menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
  }
.heading{
  display:flex;
  background-color:#FFA500;
  height: 50px;
  font-size: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.cmpyname{
  margin-left: 40px;
  font-weight: bold;
}

.menu-icon{
  cursor: pointer;
  margin-left: 10px;
}

.menu-icon-1{
  cursor: pointer;
  position: absolute;
  right: 3%;
}

.image-name{
  position: absolute;
   right: 13%;
}
.logout{
  position: absolute;
  bottom: 0;
  cursor: pointer;
}
.logout-1{
  position: absolute;
  bottom: 20px;
  left:33%;
  cursor: pointer;  
}
.hearder_image{
    background-image: url("Assest/header_image.jpg");
    background-size: cover;
    height: 275px;
    background-position:center -225px; 
    position: relative;
}
.search-icons{
  position: absolute;
  display: flex;
  align-items: center;
  top: 40%;
  left: 42%;

}
.search-inputs{
  width: 200px;
  height: 25px;
  border-radius: 20px;
  outline: none;
  padding-left: 10px;
  border: 1px solid white;
}
.search-fa{
  background-color:#FFA500;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 10px;
}
.fa-below{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60%;
  font-size: 25px;
  font-weight: bold;
  color:#f5f5f5;
  font-family: sans-serif;
}

.fa-below-1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60%;
  font-size: 12px;
  color:#f5f5f5;
  font-family: sans-serif;
}

.category-heading{
  margin-top: 50px;
  margin-left: 60px;
  
}
.category-name{
  color: black;
  font-weight: 500;
}
.category-name-below{
  width: 4%; 
  height: 4px;
  background-color:#FFA500; 
  content: '';

}
.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 230px; 
  margin: 10px;
  border: 1px solid #ddd;
  position: relative;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.box:hover {
  
  transform: scale(1.1);
}

.box-image {
  width: 100%;
  height: auto;
}

.box-content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFA500;
  padding: 5px;
}

.box-title {
  margin: 0;
  font-size: 14px;
}

.category-diplay{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.filter-icons{
  position: relative;
  right: 10%;
  cursor: pointer;

}
.home-icon{
cursor: pointer;
}

.addcarts{
  position: absolute;
  right: 2%;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  width: auto;
}

.box1 {
  width: 230px; 
  margin: 10px;
  border: 1px solid #ddd;
  position: relative;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
.addtocartpro{
  margin-left: 70px;
  color: black;
  cursor: pointer;
  background-color: #FFA500;
  padding: 5px;
}

.rs{
  margin-left: 10px;
  color: black;
}

.dec{
 margin-left: 25px;
}

.inc{
  font-size: 20px;
}

.can{
  margin-left: 20px;
  cursor: pointer;
  color: black;
  background-color: #FFA500;
  padding: 5px;
}

.cou{
   font-size: 15px;
   margin-left: 5px;
   background-color: #FFA500;
   padding: 5px;
}


@media screen and (max-width: 768px) {
  .category-heading {
    margin-left: 20px;
  }

  .hearder_image{
    width: 100%;
  }

  .category-name-below {
    width: 12%;
  }

  .fa-below,
  .fa-below-1 {
    top: 60%;
    font-size: 10px;
  }
  .search-inputs{
    width:150px;
  }
  .search-icons {
    position: absolute;
    display: flex;
    left:30%;
  }

  .box-container {
    justify-content: center;
  }

  .box {
    width: 40%;
  }
  .box1{
    width: 40%;
  }

  .search-icons{
    justify-content: center;
  }

  .addcarts {
    right: 2%;
  }
  .addtocartpro{
    font-size: 10px;
    margin-left: 30px;
  }
  .box:hover {
    transform: scale(1.0);
  }
  
.dec{
  margin-left: 7px;
 }
 
 .inc{
   font-size: 15px;
 }
 
 .can{
   margin-left: 8px;
   background-color: #FFA500;
   padding: 5px;
   font-size: 8px;
 }
 
 .cou{
    font-size: 15px;
    margin-left: 5px;
    background-color: #FFA500;
    padding: 5px;
 }
 
}